/* Link with the font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/* Apply css style for all section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Style Header section */

header{
    background-image: url('../Images/home\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

/* Style Navbar section */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    position: fixed;
    top: -40px;
    right: 0;
    left: 0;
}

nav img{
    width: 20%;
}

nav li{
    list-style: none;
}

nav ul{
    display: flex;
    gap: 2.5rem;
}

nav li a{
    text-decoration: none;
    color: greenyellow;
    font-size: 1.7rem;
}

nav li::after{
    content: '';
    height: 5px;
    background-color: lightcoral;
    display: block;
    width: 0;
    transition: all 0.5s;
}

nav li:hover::after{
    width: 100%;
}

/* Style header title section */

header .header-title{
    position: absolute;
    transform: translate(10%, 80%);
    display: flex;
    flex-direction: column;
    gap: 30%;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.header-title h1{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Lemon', serif;
    color: greenyellow;
}

.header-title h3{
    font-size: 2rem;
    font-family: 'Lemon', serif;
    color: rgb(255, 124, 64);
    margin: 25px auto;
}

.header-title p{
    font-size: 1.5rem;
    color: greenyellow;
    width: 60%;
    text-align: center;
}

.header-title button{
    margin-top: 20px;
    background-color: aqua;
    border: none;
    padding: 0.5% 1.5%;
    border-radius: 10px;
    transition: all 0.5s;
}

.header-title button:hover{
    background-color: rgb(255, 169, 64);
}

.header-title a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

/* Responsive of the page  */

@media screen and (max-width: 699px) {
    header{
        background-position: 48% 100%;
    }
    .list{
        display: none;
    }
    nav{
        padding: 0 4%;
        top: 0px;
        gap: 8%;
    }
    nav img{
        width: 50%;
    }
    header .header-title{
        transform: translate(2%, 80%);
        width: 95%;
    }
    .header-title h1{
        font-size: 1.5rem;
    }
    .header-title h3{
        font-size: 1.3rem;
        margin: 15px auto;
    }
    .header-title p{
        font-size: 1.1rem;
        width: 95%;
    }
    .header-title button{
        padding: 2% 6%;
    }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
    nav{
        padding: 0 4%;
        top: 0px;
        gap: 8%;
    }
    
    nav img{
        width: 20%;
    }
    nav li a{
        font-size: 1.1rem;
    }
    nav ul{
        gap: 1.7rem;
    }

    header .header-title{
        transform: translate(10%, 90%);
        width: 80%;
    }
    
    .header-title h1{
        font-size: 2rem;
    }
    
    .header-title h3{
        font-size: 1.5rem;
        margin: 15px auto;
    }
    
    .header-title p{
        font-size: 1.2rem;
        width: 80%;
    }
    .header-title button{
        padding: 2% 5%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1480px) {
    nav{
        padding: 0 6%;
        top: 0px;
        gap: 8%;
    }
    
    nav img{
        width: 20%;
    }
    nav li a{
        font-size: 1.4rem;
    }
    nav ul{
        gap: 2rem;
    }

    header .header-title{
        transform: translate(20%, 70%);
        width: 70%;
    }
    
    .header-title h1{
        font-size: 2.2rem;
    }
    
    .header-title h3{
        font-size: 1.7rem;
        margin: 20px auto;
    }
    
    .header-title p{
        font-size: 1.35rem;
        width: 70%;
    }
    .header-title button{
        padding: 1% 3%;
    }
}

