@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    background: #331a00;
    width: 50%;
    height: 100vh;
}

.left-container .logo {
    margin-top: 1.5rem;
    margin-left: 10rem;
}

.left-container .content {
    text-align: left;
    color: white;
    margin-top: 10rem;
    margin-left: 5rem;
}

.left-container h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
    font-family: 'Rubik Scribble', system-ui;
}

.left-container p {
    font-size: 1.5rem;
    text-align: justify;
    max-width: 85%;
    margin-bottom: 2rem;
    line-height: 2rem;
    font-family: 'Courgette', cursive;
}

.left-container button {
    padding: 0.8rem 2.5rem;
    background: linear-gradient(to right, rgb(172, 147, 128), #552c01);
    color: white;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', system-ui;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

.left-container button:hover {
    background: linear-gradient(to right, #552c01, rgb(172, 147, 128));
}

.right-container {
    background: #996633;
    width: 50%;
    height: 100vh;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.navbar li {
    padding: 1.5rem 1.5rem;
}

.navbar .slider {
    border-top: 4px solid #552c01;
    border-radius: 0 0 50px 50px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 6rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 601px;
}

.navbar li:nth-child(2):hover~.slider {
    right: 503px;
}

.navbar li:nth-child(3):hover~.slider {
    right: 392px;
}

.navbar li:nth-child(4):hover~.slider {
    right: 272px;
}

.navbar ul a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.floating-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.floating-container div {
    padding: 10px;
    border: 3px dotted white;
    border-radius: 50%;
}

.floating-container img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.right-container .right-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

@media screen and (max-width: 576px) {
    .content-container {
        flex-direction: column-reverse;
    }

    .left-container {
        width: 100%;
        height: 100%;
    }

    .left-container .logo {
        margin-top: 5rem;
        margin-left: 2rem;
    }

    .left-container .content {
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .left-container h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    .left-container p {
        font-size: 1.2rem;
        max-width: 97%;
        margin-bottom: 1rem;
    }

    .left-container button {
        margin-bottom: 2rem;
    }

    .floating-container {
        top: 70%;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .floating-container img {
        width: 5rem;
        height: 5rem;
    }

    .right-container .right-img {
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .right-container {
        width: 100%;
        height: 100%;
    }
    
    .navbar li {
        padding: 1.5rem 1rem;
    }
    
    .navbar .slider {
        display: none;
    }
}