/* font Family export from google font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');


/* for all element style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Section style */
section{
    background-image: url('../Images/bg-image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 70%;
    margin: 100px auto;
}

/* Header section style */
header{
    padding: 15px 40px;
}

/* Main section style */

main{
    padding-bottom: 50px;
}

.header-content{
    margin-bottom: 50px;
}

main h1, p{
    text-align: center;
    color: white;
    max-width: 38%;
    margin: 0 auto;
}

main h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

main p{
    font-size: 1rem;
    line-height: 1.5em;
}

form{
    background-color: rgba(248, 250, 252, 0.2);
    padding: 25px;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 20px;
}

form p{
    color: white;
    text-align: left;
    max-width: 100%;
}

.input, .option{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.textarea, .button{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

input[type="text"], input[type="email"]{
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}

select{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}

textarea{
    width: 95%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}

input[type="button"]{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    color: #4036A9;
}

/* @media screen and (min-width: 1600px) {
    section{
        max-width: 60%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
    section{
        max-width: 50%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    section{
        max-width: 90%;
    }
} */

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    section{
        max-width: 80%;
    }
    form{
        max-width: 75%;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    section{
        max-width: 90%;
    }
    form{
        max-width: 85%;
    }
    main h1, p{
        max-width: 60%;
    }
    header{
        padding: 15px 25px;
    }
}

@media screen and (max-width: 640px) {
    section{
        max-width: 95%;
    }
    form{
        max-width: 80%;
    }
    .input, .option{
        display: flex;
        flex-direction: column;
    }
    main h1, p{
        max-width: 80%;
    }
    header{
        padding: 15px 25px;
    }
}

